ul{
    list-style: none;
    padding: 0px;
}

p{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 600px;
    margin: 0px auto;
}

p>i{
  width: 15px; 
  display: inline-block; 
}


/* ul li::before{
    content: "";
    position: absolute;
    top: 5px;
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
} */